html, body{
  font-family: Arial, sans-serif;
  background-color: #F4F5F7;
  padding: 2%;
  margin:0;
  width:100%;
  height:100%;
}


h2{
  font-size: 51px;
  font-weight: 200;
  color:#222222;
  margin: 0 0 30px 0;
  padding:0;
  float:left;
}

h3, h4{
  font-size: 38px;
  font-weight: 200;
  color:#000000;
  margin:0;
  padding:0;
  float:left;
}

hr{
  background-color: #dadada;
  height:1px;
  border:0;
  clear:both;
  margin-bottom: 30px;
  margin-top: 10px;
}

#yourCart {
  font-size: 14px;
  color:#292929;
  float:right;
  margin-top: 15px;
}
#yourCart::before {
  content:'';
  display:inline-block;
  width:25px;
  height:14px;
  background-image: url('images/cartblack.png');
  background-size: 17px 14px;
  background-repeat: no-repeat;
}
#yourCart:hover {
  color:#407FC0;
}
#yourCart:hover::before {
  content:'';
  display:inline-block;
  width:25px;
  height:14px;
  background-image: url('images/cartblue.png');
  background-size: 17px 14px;
  background-repeat: no-repeat;
}


/* Cart
––––––––––––––––––––––––––––––––––––––––––––––––––
*/
*{
  box-sizing: border-box;
}

#final_CheckOut{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(9,9,9,.09);
}
.cartItem {
  position: relative;
  background-color: #FFF;
    height: auto;
    padding: 0 0px;
  color: #000;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 2rem;
}

.cartItem .cartItemBlock{
  display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
    justify-content: space-around;
  position: relative;
  background-color: #FFF;
    height: 200px;
    padding: 0 0px;
  color: #000;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 2rem;
}

.cartItem .finalCheckOutPhoto {
  order: 1;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 286px;
  height: 100%;
}

.cartItem .productInfo {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  order: 2;
  flex-grow: 1;
  float: left;
  padding: 0 0 0 3rem;
}

.cartItem .productInfo .copyBlock {
  font-size: 2rem;
}

.cartItem .cartQuantity {
  order: 3;
  width: 286px;
  height: 40px;
  display: flex;
}

.cartItem .cartQuantity .cartItemQuantity {
  position: relative;
  flex-grow: 1;
  text-align: center;
  border-color: #F5F5F5;
  border-style: solid;
  box-sizing: border-box;
  border-width: 1px;
  height: auto;
}

.cartItem .cartQuantity .cartItemQuantity .quantityOutput {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




.button.button-cartQuantity,
button.button-cartQuantity,
input[type="submit"].button-cartQuantity,
input[type="reset"].button-cartQuantity,
input[type="button"].button-cartQuantity {
  padding: 0 0;
  font-weight: inherit;
  letter-spacing: inherit;
  border: 0px;
  width: 98px;
  height: 40px;
  color: #8E939C;
  background-color: #F5F5F5;
  border-radius: 20px;
  font-size: 32px;
}
.button.button-cartQuantity:hover,
button.button-cartQuantity:hover,
input[type="submit"].button-cartQuantity:hover,
input[type="reset"].button-cartQuantity:hover,
input[type="button"].button-cartQuantity:hover{
  color: #FFF;
  background-color: #5E97D1;
}
.button.button-cartQuantity:disabled,
button.button-cartQuantity:disabled{
  color: #DEDEDE;
  background-color: #F9F9F9;
  cursor: auto;
}

.cartItemDecrease{
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.cartItemIncrease{
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}


.button.button-checkout,
button.button-checkout,
input[type="submit"].button-checkout,
input[type="reset"].button-checkout,
input[type="button"].button-checkout {
  float: right;
  padding: 0 0;
  font-weight: inherit;
  letter-spacing: inherit;
  border: 0px;
  width: 180px;
  height: 40px;
  color: #FFF;
  background-color: #5f98cd;
  border-radius: 20px;
  font-size: 14px;
  margin-top: 2rem;
}
.button.button-checkout:hover,
button.button-checkout:hover,
input[type="submit"].button-checkout:hover,
input[type="reset"].button-checkout:hover,
input[type="button"].button-checkout:hover{
  color: #FFF;
  background-color: #4080c0;
}
.button.button-checkout:disabled,
button.button-checkout:disabled{
  background-color: #d0e1f1;
  cursor: auto;
}

/*
end of cart items
*/


.button-checkout{
  display:block;
  color:white;
  background-color: #5E97D1;
  font-size: 14px;
  padding: 10px 25px;
  margin: 0 auto;
  border-radius: 20px;
  border: 0;
}

.button-checkout: disaled{
  display: none;
}


.button-checkout:hover{
  background-color: #407FC0;
}

.cartInfo{
  background-color: #ffffff;
  padding: 0;
  width: 90%;
  height: 90%;
  max-width: 780px;
  max-height: 678px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 4px rgba(0,0,0,.3);
  border-radius: 7px;
}
.close{
    display: block;
    background-image: url("images/x.png");
    height:30px;
    width:30px;
    position: absolute;
    top: 22px;
    right: 25px;
    margin:0;
    padding:0;
}

.cart{
  height: calc(90% - 210px);
  min-height:50px;
  max-height: 478px;
  overflow: auto;
  padding: 0 5%;
}
.cart::after {
  content:'';
  clear: both;
}
.cart h4 {
  font-size: 16px;
  float:none;
}
.cart .price {
  margin-top: 3px;
  font-size: 14px;
  display: block;
  float: none;
}
.cart .remove {
  color: #CC1D39;
  margin-top: 20px;
  font-size: 14px;
  display: block;
}

.cartBottom{
  padding: 0;
  width: 100%;
  min-height:100px;
}

.cartTop{
  padding: 5%;
  width: 100%;
  height: 110px;
}




/* Product Listing
––––––––––––––––––––––––––––––––––––––––––––––––––
*/

.product{
  padding: 0;
  width: 100%;
  max-height: 282px;
  display:flex;
  clear:both;
  margin-bottom: 30px;
}

.productImage{
  float:left;
  width:40%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.productDetail{
  float:left;
  width:60%;
  background-color: white;
  padding:5%;
  text-align: left;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

/* Add To Cart Button */
.addToCart {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 12%;
  padding: 10px 25px;
  background-color: #5E97D1;
  border: 0;
  border-radius: 20px;
}
.addToCart:hover {
  background-color: #407FC0;
}
.addToCart:disabled {
  opacity: .3;
  clear:both;
  margin:12% auto 0 0;
}

.price {
  font-size: 21px;
  color:#202020;
  margin:0;
  padding:0;
  float: right;
  vertical-align: bottom;
}

.inventory {
  color:#939393;
  font-size: 13px;
  height:20px;
  clear:both;
  padding-top: 20px;
}


